<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}DMF{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-red fixed-top">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('img/logo.png') }}" width="200" height="80" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link" href="{{ path('rejoindre') }}">NOUS REJOINDRE</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link" href="{{ path('classement-familia') }}">CLASSEMENT FAMILIA</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link" href="{{ path('shop') }}">BOUTIQUE</a>
                        </li>
                        <li class="nav-item font-weight-bold">
                            <a class="nav-link" href="{{ path('vote') }}">VOTE</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn btn-darkred btn-sm w-50"><span class="fa fa-edit"></span> Inscription</a>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <a href="#" class="btn btn-darkred btn-sm w-50"><span class="fa fa-user"></span> Connexion</a>
                        </div>
                    </div>
                </div>  
            </nav>
            <div class="row bg-darkred"></div>  
        {% block body %}
        {% endblock %}
            <footer class="row bg-red">
                <div class="col text-center">
                    <p class="pt-3"><span class="font-weight-bold">2020 DanMachi France</span>, tous droits réservés | <a href="https://discord.gg/hEpxS7X">Discord</a></p>
                </div>
            </footer>
        </div>
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}
    </body>-
</html>
